.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 12.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 999;

}

.name {
    color: #c3c3c3;
    font-family: 'Forum', cursive;
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.link {
    color: #c3c3c3;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    padding: 0 2rem;
    cursor: pointer;
}