@import "./common/fonts.scss";
@import "./common/index.scss";
@import "./common/accessibility";

:root {
  --gradient-primary: #{$primaryGradient};
  --transition-speed: #{$transitionSpeed};
  --background-color: #{$backgroundColor};
  --background-color-2: #{$backgroundColor2};
  --primary-color: #{$primaryColor};
  --white: #{$white};
  --gray: #{$gray};
  --border-color: #{$borderColor};
  --overlay-light: #{$overlayLight};
  --overlay-medium: #{$overlayMedium};
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-size: 0.83vw;
  margin: 0;
  padding: 0;

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

body {
  background-color: $backgroundColor;
}
