@import "../../styles/common/index";

.about_section {
    color: $white;
}

.about_container {
    @extend %container;
}

.about_content {    
    p {
        margin-bottom: 1.5rem;
        line-height: 1.6;
        font-size: 1.1rem;
        color: $white;
        
        opacity: 0.9;
        
        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media (max-width: 768px) {
    .about_content {
        p {
            font-size: 1rem;
        }
    }
} 