@import "../../styles/common/index";

.about_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 100%;
    max-width: 1440px;
    margin: 4rem auto 0;
    padding: 0 max(2rem, calc($leftRightPadding + 5%));
    
    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        text-align: center;
        padding: 2rem;
    }
}

.about_content {
    color: $white;
    opacity: 0.9;
    font-size: 1.25rem;
    line-height: 1.6;
}

.about_skills {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.skills_category {
    margin-bottom: 1rem;
}

.skills_title {
    color: $white;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    background: var(--gradient-primary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skills_list {
    color: $white;
    opacity: 0.9;
    font-size: 1.25rem;
} 