@import "../../styles/common/index";

.heading {
    font-size: 1.8rem;
    font-weight: 700;
    color: $white;
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $borderColor;
    background: var(--gradient-primary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    width: 100%;
} 